<div class="login-actions">
  <span class='login-actions-row'>
    <a class="span3 google-btn" href="/auth/google_calendar{{#if origin}}?origin={{origin}}{{/if}}">
      Sign in using Google
    </a>
    <a class="span3 twitter-btn" href="/auth/twitter{{#if origin}}?origin={{origin}}{{/if}}">
      Sign in using Twitter
    </a>
  </span>

  <span class='login-actions-row'>
    <a class="span3 facebook-btn" href="/auth/facebook{{#if origin}}?origin={{origin}}{{/if}}">
      Sign in using Facebook
    </a>
    <a class="span3 linkedin-btn" href="/auth/linkedin{{#if origin}}?origin={{origin}}{{/if}}">
      Sign in using LinkedIn
    </a>
  </span>

</div>