//= require "./import_fonts"
//= require "./simplething/index"
//= require_self

@import "mixins"

a.logo
  background: url(/images/logo.png) no-repeat
  display: block
  text-indent: -9999px
  width: 148px
  height: 148px

.topline
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 7px
  +linear-gradient(top, #325579, #325579, #173661)


section.main
  .inner
    position: relative

  &.innerpage
    .inner
      padding-top: 7px
      .logo
        position: absolute
        left: -30px
        top: -38px


  .portfolio-cats
    background: none
    max-width: 600px
    +margin-horizontal(auto)
    margin-right: 0
    ul
      margin: 0
      text-align: right
      li.label
        vertical-align: 3px
        margin-right: 20px

  .portfolio
    .item
      &:hover
        text-shadow: 0 0 10px rgba(yellow, 0.4)
      a
        color: inherit
      .hover
        display: block
        .magnify
          left: 0
          right: 0
          margin: auto

  .submit-project
    margin-top: 50px
    margin-left: auto
    margin-right: 10px
    img
      margin-top: 20px
    .submit-project-btn
      margin-top: -27px
      margin-left: -65px
      span
        text-transform: uppercase
        text-shadow: 0 0 5px #fff
        font-weight: bold
        font-family: Helvetica

  .portfolio
    &.similar
      padding-top: 40px
      margin-top: 60px
      clear: both
    &.single
      .project-description
        clear: both
        p
          font-size: 16px
        ul
          list-style: none
          li
            margin-bottom: 10px
      .project-links
        .extrudedbtn
          margin-right: -10px
      .l
        .cover-section
          width: 290px
          float: right
          img
            box-shadow: 0 0 11px #aaa
          iframe
            margin-top: 10px

      .thumbs a img
        width: 100%

      .scroll-thumbs
        overflow: hidden
        .thumbs
          width: 2000px

      .gallery
        .slides_container
          .slides_control
            height: 530px !important
            width: 564px !important

            a
              width: 100%
              height: 98% !important

          .screen-img
            background-repeat: no-repeat
            background-size: cover
            width: 100%
            height: 100%
            display: block
        .snext
          top: -132px
          right: -26px
        .sprev
          top: -132px
          left: -23px

section.main.header
  +linear-gradient(top, #325579, #325579, #173661)
  padding: 0
  color: #fff
  font-size: 26px
  +sourcesans
  position: relative
  font-weight: 200
  min-height: 143px
  z-index: 10

  h1, h2
    color: #fff
    font-family: $sourcesans
    margin: 0
    line-height: 1.1
    text-align: center
    margin: auto
    max-width: 600px
  h1
    font-size: 44px
    font-weight: 900
    letter-spacing: -1px
    padding-top: 30px

  h2
    font-size: 26px
    font-weight: 200

  strong
    font-weight: 400
  p
    text-align: center
    padding-top: 5px
    .btn-small
      vertical-align: 6px
      margin-left: 5px
  .logo
    position: absolute
    top: 0

  .train-icon
    width: 76px
    height: 76px
    background: url("/images/itsatrain.png") no-repeat
    margin: auto
    position: absolute
    bottom: -38px
    left: 0
    right: 0

  &.announcement
    min-height: 81px
    margin-bottom: 20px
    .close-announcement
      position: absolute
      right: 20px
      top: 20px
      padding: 5px 8px
      height: 20px
      background: rgba(#fff, 0.2)
      line-height: 19px
      +border-radius(20px)
      opacity: 0.5

      display: block
      cursor: pointer
      font-weight: bold
      font-size: 24px
      &:hover
        opacity: 1.0

// overrides
footer.bottom
  margin-top: 70px
  +clearfix
  .widget.newsletter
    margin-bottom: 30px
  .widget.credits
    +clearfix
    .author
      width: 300px
      float: left
      margin-right: 23px
      img
        width: 300px
        height: 190px
        // background: green
        margin-bottom: 10px
        border: 1px solid rgba(#fff, 0.1)
      strong
        display: block
        text-align: center
  .social-icons
    clear: both
    margin-top: 20px
    margin-left: 5px
    strong
      float: left
      margin-right: 15px

  .upper
    padding-bottom: 20px
    margin-bottom: 20px

.hidden
  display: none