
<!-- START footer -->
<footer class="bottom">
  <div class="inner">
     <div class="upper row-fluid clearfix">
      <div class="widget credits span8">
        <h3>Open Source Rails Brought to you by:</h3>
        <div class="author">
          <a href="http://gotealeaf.com">
            <img src="/images/tealeaf.png"></img>
            <strong>Apply now, deadline Jan 26th, 2013.</strong>
          </a>
        </div>
        <div class="author">
          <a href="http://lizilabs.com">
            <img src="/images/lizilabs.png"></img>
            <strong>We can ship your product insanely quickly.</strong>
          </a>
        </div>
      </div>
      <div class="widgetcontainer span4">

        <div class="widget newsletter clearfix">
          <h3>Receive regular updates:</h3>

          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="http://opensourcerails.us6.list-manage.com/subscribe/post?u=83af5f2849fc547685b034c76&amp;id=c95b04e831" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <div class="mc-field-group">
                <!-- <label for="mce-EMAIL">Email Address </label> -->
                <input type="email" value="" name="EMAIL" class="required email text" id="mce-EMAIL" placeholder="Email address...">
              </div>
                <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>  <div class="clear">
              <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger"></div>
            </form>
          </div>

          <div class="social-icons">
            <strong>Follow us: </strong>

            <a class="social" href="http://twitter.com/opensourcerails"><img src="/images/simplething/icons/picons_white/picons03.png" alt="" /></a>
            <a class="social" href="http://facebook.com/opensourcerails"><img src="/images/simplething/icons/picons_white/picons06.png" alt="" /></a>

          </div>
        </div>


      </div>

     </div>

<!--      <div class="lower clearfix">
       <div class="l">
         © OpenSourceRails 2013
       </div>
       <div class="m">
       </div>
       <div class="r">
       </div>
    </div> -->
  </div>
</footer>
<!-- END footer -->
