
<!-- START footer -->
<footer class="bottom">
  <div class="inner">
     <div class="upper sep row-fluid clearfix">
      <div class="widget credits span8">
        <h3>Open Source Rails Brought to you by:</h3>
        <div class="author">
          <a href="http://gotealeaf.com">
            <img src="/images/tealeaf.png"></img>
            <strong>Intensive online bootcamp for learning web development.</strong>
          </a>
        </div>
        <div class="author">
          <a href="http://lizilabs.com">
            <img src="/images/lizilabs.png"></img>
            <strong>We can ship your product insanely quickly.</strong>
          </a>
        </div>
      </div>
      <div class="widgetcontainer span4">

        <div class="widget newsletter clearfix">
          <h3>Receive regular updates</h3>
          <form action="#">
            <input type="text" class="text" value="Sign up for our newsletter" onFocus="this.value=''"/>
            <button class="btn btn-danger">Sign Up</button>
          </form>

          <div class="social-icons">
            <strong>Follow us: </strong>

            <a class="social" href="http://twitter.com/opensourcerails"><img src="/images/simplething/icons/picons_white/picons03.png" alt="" /></a>
            <a class="social" href="http://facebook.com/opensourcerails"><img src="/images/simplething/icons/picons_white/picons06.png" alt="" /></a>

          </div>
        </div>


      </div>

     </div>

     <div class="lower clearfix">
      <div class="l">
        © OpenSourceRails 2013
      </div>
      <div class="m">
      </div>
      <div class="r">
      </div>
    </div>
  </div>
</footer>
<!-- END footer -->
