
<!-- START footer -->
<footer class="bottom">
  <div class="inner">
     <div class="upper row-fluid clearfix">
      <div class="widget credits span8">

        <h3>Open Source Rails Brought to you by:</h3>
        <div class="authors">
          <div class="author">
            <a href="http://lablablab.co">
              <img src="/img/lab.png"></img>
              <strong>We can launch your product insanely fast.</strong>
            </a>
          </div>
          <div class="author">
            <a href="http://www.gotealeaf.com">
              <img src="/img/tealeaf.png"></img>
              <strong>Online instructor-led Ruby and Rails courses.</strong>
            </a>
          </div>
        </div>
        <div class="contribute">
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=railsjedi&repo=opensourcerails&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
          <strong>OpenSourceRails is open source. Pull requests greatly appreciated!</strong>
          <a href="https://gitter.im/opensourcerails/opensourcerails">
            <img src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667" />
          </a>
        </div>

      </div>
      <div class="widgetcontainer span4">
        <div class="widget newsletter clearfix">
          <h3>Receive regular updates:</h3>
          <a class="twitter-timeline" href="https://twitter.com/opensourcerails" data-widget-id="628310249829609472">Tweets by @opensourcerails</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>


      </div>

     </div>

<!--      <div class="lower clearfix">
       <div class="l">
         © OpenSourceRails 2013
       </div>
       <div class="m">
       </div>
       <div class="r">
       </div>
    </div> -->
  </div>
</footer>
<!-- END footer -->
