.grid-lines.container{hidden}
  .row
    - 12.times do
      .span1= nbsp
  -# .media-query-options
  -#   .media-query-option.phone-portrait phone-portrait
  -#   .media-query-option.phone-landscape phone-landscape
  -#   .media-query-option.tablet-portrait tablet-portrait
  -#   .media-query-option.tablet-landscape tablet-landscape

  -#   .media-query-option.tablet-portrait-and-up tablet-portrait-and-up
  -#   .media-query-option.tablet-landscape-and-up tablet-landscape-and-up
  -#   .media-query-option.phone-landscape-and-down phone-landscape-and-down
  -#   .media-query-option.tablet-portrait-and-down tablet-portrait-and-down
  -#   .media-query-option.retina-only retina-only
  = clear
