<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Open Source Rails</title>

  <meta name="keywords" content="open source ruby on rails" />
  <meta name="description" content="Open Source Rails is a community site dedicated to tracking the best open source Ruby on Rails applications.">

  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="/javascripts/simplething/libs/modernizr-2.5.3.min.js"></script>


</head>
<body>

  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div class="wrapper">

    <%= yield %>

  </div>

  <script src="/javascripts/application.js"></script>
</body>
</html>
