<div class="item span4">
  <a href="/project/" class="hover"><span class='magnify'></span></a>
  <a class="image" href="/project/">
    <img src="/images/simplething/samples/sample.jpg" alt="" />
  </a>
  <h4><a href="/project/">Sample project</a></h4>
  <small><a href="/project/">a kick ass CRM</a></small>
</div>
