<div class="item span4">
  <a href="/project.html" class="hover"><span class='magnify'></span></a>
  <a class="image" href="/project.html">
    <img src="/images/simplething/samples/sample.jpg" alt="" />
  </a>
  <h4><a href="/project.html">Sample project</a></h4>
  <small><a href="/project.html">a kick ass CRM</a></small>
</div>
