<% projects = data.projects %>
<section class="main header announcement">
  <div class="inner">
    <p>Announcing the relaunch of <strong>Open Source Rails...</strong></p>
  </div>
  <div class="train-icon"></div>
  <div class="close-announcement">x</div>
</section>

<!-- START section.main -->
<section class="main innerpage" role="main">
  <div class="inner">
    <a href="/" class="logo">Open Source Rails</a>

    <!-- START nav.cats -->
    <nav class="portfolio-cats cats mb30 clearfix">
      <ul class="clearfix">
        <li class="label label-info">sort/filter:</li>
        <li class="act"><a href="#">Recently Added</a></li>
        <li><a href="#">Popularity</a></li>
        <li><a href="#">Last Updated</a></li>
        <!-- <li><a href="#">Category ▼</a></li> -->
      </ul>
    </nav>
    <!-- END nav.cats -->

    <!-- START items -->
    <div class="portfolio items small clearfix">

      <% projects.in_groups_of(3, false).each do |project_group| %>
        <div class="row-fluid clearfix">
          <% project_group.each do |project| %>
            <%= partial "project_listing", :locals => {:project => project} %>
          <% end %>
        </div>
      <% end %>

    </div>
    <!-- END items -->

    <!-- START paging -->
    <!-- TODO: PAGINATION VIA JS -->
    <div class="pagination clearfix">
      <ul>
        <li class="act"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
    <!-- END paging -->

    <!-- START scriptfont -->
    <div class="submit-project scriptfont center mb30">
      <img src="/images/text-missing-something-awesome.png" alt="" />
      <a href="https://github.com/railsjedi/opensourcerails/issues/new?title=Submit%20a%20new%20project&body=Description%20of%20Project&labels=New%20Project" target="_blank" class="submit-project-btn extrudedsmallbtn yellow ml15"><span>Submit a Project</span></a>
    </div>
    <!-- END scriptfont -->
  </div>
</section>
<!-- END section.main -->
