<% content_for :opengraph do %>
  <meta property="og:image" content="/img/facebook-icon.png"/>
  <meta property="og:url" content="/"/>
  <meta property="og:site_name" content="Open Source Rails"/>
  <meta property="og:title" content="Project List"/>
  <meta property="og:type" content="opensource:project"/>
<% end %>

<section class="main header announcement">
  <div class="inner">
    <p>
      Announcing the relaunch of <strong>Open Source Rails...</strong>
      <span class="announcement-actions">
        <a href="/relaunch/" class='btn btn-small btn-primary'>read more →</a>
        <!-- <a href="#close" class='close-announcement close-announcement-text'>close</a> -->
      </span>

    </p>
  </div>
  <div class="train-icon"></div>
</section>

<!-- START section.main -->
<section class="main innerpage" role="main">
  <div class="inner">
    <a href="/" class="logo">Open Source Rails</a>

    <!-- START nav.cats -->
    <nav class="portfolio-cats cats mb30 clearfix">
      <ul class="clearfix">
        <li class="label label-info">sort/filter:</li>

        <li data-sort="index"><a href="#" title='Sort by when the project was added to Open Source Rails.'>Recently Added</a></li>
        <li data-sort="created-at"><a href="#" title='Sort by the most recently started (on Github) projects.'>Recently Started</a></li>
        <li data-sort="watchers" title='Sort by the # of Github stars.'><a href="#">Github Stars</a></li>
        <li data-sort="pushed-at"><a href="#" title='Sort by the most recently active (git push) projects.'>Last Active</a></li>

        <!-- <li><a href="#">Category ▼</a></li> -->
      </ul>
    </nav>
    <!-- END nav.cats -->

    <!-- START items -->
    <div class="portfolio items small clearfix">
      <%= partial "project_listings_grouped", :locals => {:projects => gallery_projects} %>

    </div>

    <!-- END items -->

    <!-- START paging -->
    <!-- TODO: PAGINATION VIA JS -->
    <div class="pagination clearfix">
      <ul class="hidden">
        <li class="act"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
    <!-- END paging -->

    <div class="portfolio-bottom">
      <div class="social-embed">

      </div>
      <div class="submit-project center mb30">
        <img class="hidden-phone " src="/img/text-missing-something-awesome.png" alt="" />
        <a href="https://github.com/railsjedi/opensourcerails/issues/new?title=Submit%20a%20new%20project&body=Description%20of%20Project&labels=New%20Project" target="_blank" class="submit-project-btn extrudedsmallbtn yellow ml15"><span>Submit a Project</span></a>
      </div>
      <!-- END scriptfont -->
    </div>
  </div>
</section>
<!-- END section.main -->
