<!-- START post -->
<div class="post clearfix">
  <aside class="metaleft">
    <div class="date">22<small>oct</small></div>
    <div class="iconbuttons">
      <a href="#"><img src="/images/simplething/icons/bijou/Heart.png" alt="" />1</a>
      <a href="#comments"><img src="/images/simplething/icons/bijou/Comment.png" alt="" />23</a>
    </div>
  </aside>
  <article class="entry">
    <h2 class="title">Our mighty pencil</h2>
    <div class="boxed">
      <div class="entryinner">

        <p>She had  just succeeded in curving it down into a graceful zigzag, and was going  to dive in among the leaves, which she found to be nothing but the tops  of the trees under. Which she found to be nothing but the tops  of the trees under. </p>
        <blockquote>She had  just succeeded in curving it down into a graceful zigzag, and was going  to dive in among the leaves.</blockquote>
        <p>She had  just succeeded in curving it down into a graceful zigzag, and was going  to dive in among the leaves, which she found to be nothing but the tops  of the trees under. Which she found to be nothing but the tops  of the trees under. </p>
      </div>

      <div class="meta clearfix">
        <div class="l">
          <div class="link"><img src="/images/simplething/icons/bijou/Inbox.png" alt="" /><a href="#">Articles</a>, <a href="#">Projects</a></div>
          <div class="link last"><img src="/images/simplething/icons/bijou/Tag.png" alt="" /><a href="#">june</a>, <a href="#">sofia</a></div>
        </div>
        <div class="r">
          <a href="#" class="simplebtn"><img src="/images/simplething/icons/bijou/Printer.png" alt="" />Print version</a>
        </div>
      </div>
    </div>

    <section class="comments with-disqus clearfix">
      <a name="comments"></a>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'opensourcerails'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </section>

  </article>


</div>
<!-- END bpost -->


