<section class="main innerpage" role="main">
  <a href="/" class="logo">Open Source Rails</a>

  <div class="inner">
    Hello
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  console.log("HELLO")
  // TODO: set announcement cookie
</script>